#main-header{
    background-color: #333;
    color:#fff;
    text-align: center;
}

#main-header h1{
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

html body div#app div header#main-header nav ul{
    list-style: none;
    margin-bottom: 20px;
}
html body div#app div header#main-header nav ul li{
    display: inline;
}
html body div#app div header#main-header nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 16px;
}
html body div#app div header#main-header nav ul li a:hover{
    /* font-size: 18px; */
    color:#333;
    background: #fff;
    border-radius: 15px;
    padding:5px;
}
#main-footer {
    /* margin-top:200px;
    background-color: #333;
    color:#fff;
    text-align: center;
    font-size: 14px;
    padding:10px; */
    margin-top:200px;
    padding:20px;
    margin-top:20px;
    background-color:#e8491d;
    color:#fff;
    text-align: center;
    font-size: 12px;
}


/*User profile page*/
#user-profile ul#services li{
    list-style: none;
    padding:15px;
    border-bottom: gray solid 1px;
    /* border-right: gray solid 1px; */
    border-radius: 15px;
    margin-bottom: 3px; 
    background-color:#fff;
    width:90%;
}
#user-profile#buttonUpdate{
  float:left;
  
}

#profile-update.form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
#profile-update.form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
#profile-update.form-label-group>input,
#profile-update.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  #profile-update.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  #profile-update.form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  #profile-update.form-label-group input:-ms-input-placeholder {
color: transparent;
}
  
#profile-update.form-label-group input::-ms-input-placeholder {
color: transparent;
}
  
#profile-update.form-label-group input::-moz-placeholder {
color: transparent;
}
  
#profile-update.form-label-group input::placeholder {
color: transparent;
}
  
#profile-update.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

#profile-update.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}


  /* NAVIGATOPM BAR*/
#navigation{
  background-color:#35424a;
  color:#fff;
  padding-top:30px;
  min-height: 70px;
  border-bottom:#e8491d 3px solid;
} 
/* Ostaviti za sada ako ne obrisati */
#navigation ul{
  list-style-type: none;
  text-align: center;
  margin:0;
}
#navigation li{
  display:inline-block;
  margin: 0;
}

#navigation a{
  color:#fff;
  text-decoration: none;
  padding:6px 8px;
  border-radius: 10px;
}
#navigation a:hover{
  /* color:#333;
  background: #fff;
  border-radius: 15px;
  padding:5px; */
  border-bottom: #fff solid 1px;
  font-weight: bold;
}
#btnLogin{
  height:38px;
  background-color:#e8491d;
  color:#fff;
  border:none;
  padding: 0 20px;
}

#btnLogin:hover{
  background-color:#cccccc;
  color:#fff;
  font-weight: bold;
}

#btnLogout{
  height:38px;
  background-color:#e8491d;
  color:#fff;
  border:none;
  padding: 0 20px;
}

#btnLogout:hover{
  background-color:#cccccc;
  color:#fff;
  font-weight: bold;
}

#titleEffect{
  color:#e8491d;
  font-weight: bold;
}
/* html body div#app div#navigation nav.navbar.navbar-expand-lg.navbar-dark.static-top div.container div#navbarResponsive.collapse.navbar-collapse ul.navbar-nav.ml-auto li.nav-item.active */
/* .router-link-active{
  border-bottom: #fff solid 1px;
  font-weight: bold;
} */
