#main-footer {
    margin-top:200px;
    padding:20px;
    margin-top:20px;
    background-color:#e8491d;
    color:#fff;
    text-align: center;
    font-size: 12px;
}


/*User profile page*/
#user-profile ul#services li{
    list-style: none;
    padding:15px;
    border-bottom: gray solid 1px;
    border-radius: 15px;
    margin-bottom: 3px; 
    background-color:#fff;
    width:90%;
}
#user-profile#buttonUpdate{
  float:left;
  
}

#profile-update.form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
#profile-update.form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
#profile-update.form-label-group>input,
#profile-update.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  #profile-update.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  #profile-update.form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  #profile-update.form-label-group input:-ms-input-placeholder {
color: transparent;
}
  
#profile-update.form-label-group input::-ms-input-placeholder {
color: transparent;
}
  
#profile-update.form-label-group input::-moz-placeholder {
color: transparent;
}
  
#profile-update.form-label-group input::placeholder {
color: transparent;
}
  
#profile-update.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

#profile-update.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}


  /* NAVIGATOPM BAR*/
#navigation{
  background-color:#35424a;
  color:#fff;
  padding-top:30px;
  min-height: 70px;
  border-bottom:#e8491d 3px solid;
} 
/* Ostaviti za sada ako ne obrisati */
#navigation ul{
  list-style-type: none;
  text-align: center;
  margin:0;
}
#navigation li{
  display:inline-block;
  margin: 0;
}

#navigation a{
  color:#fff;
  text-decoration: none;
  padding:6px 8px;
  border-radius: 10px;
}
#navigation a:hover{
  border-bottom: #fff solid 1px;
}

#btnLogin{
  height:38px;
  background-color:#fff;
  color:#096EB5;
  border:none;
  padding: 0 20px;
}
#btnLogin:hover{
  background-color:#cccccc;
  color:#fff;
}

#btnLogout{
  height:38px;
  background-color:#e8491d;
  color:#fff;
  border:none;
  padding: 0 20px;
}
#btnLogout:hover{
  background-color:#cccccc;
  color:#fff;
}

#btnRegister{
  height:38px;
  background-color:#096EB5;
  color:#fff;
  border:none;
  padding: 0 20px;
}
#btnRegister:hover{
  background-color:#E6F0F7;
  color:#fff;
}

#btnProfile{
  height:38px;
  background-color:#FFD77D;
  color:#fff;
  border:none;
  padding: 0 20px;
}
#btnProfile:hover{
  background-color:#E6F0F7;
  color:#fff;
}


#titleEffect{
  color:#e8491d;
  font-weight: bold;
}

.router-link-active{
  border-bottom: #fff solid 1px;
  font-weight: bold;
}

/* RESERVATIONS PAGE*/
#reservation-list th:hover{
  color:#35424a;
  font-weight: bold;
  cursor: pointer;
}

/* #main.container div div.vue-star-rating{
  margin-bottom:50px;
} */
#main.container div button.btn.btn-lg.btn-success{
  margin-top:80px;
}

/* Apartments overview page*/
#apartments-overview th:hover{
  color:#35424a;
  font-weight: bold;
  cursor: pointer;
}

#apartments-overview img:hover{
  cursor: pointer;
}

.classButton{
  margin-left: 5px;
  color:#fff;
  background-color: #e8491d;
  padding:10px;
}

.classButton:hover{
  margin-left: 5px;
  color:#fff;
  background-color: #e8491d;
  font-weight: bold;
  padding:10px;
}
/* apartmentCommentNew */    /*apartmentAmenityNew */
#aparm-new-comment label, #new-Reservation label,
#new-amenity label, #new-apartment label {
  display: block;
  margin: 20px 0 10px;
  font-size: 20px;
  font-weight: bold;
}

#aparm-new-comment textarea,  #new-Reservation textarea{
  display: block;
  width: 100%;
  height: 200px;
  padding:8px;
}


/* Comments Overview */
#apartment-comments #apartmentInfo h3{
  color:#35424a;
  font-weight: bold;
  font-size: 30px; 
  padding: 30px 0 0 25px;
}

#apartment-comments .comments{
  margin:auto;
  width:70%;
}

#apartment-comments .comments .single-comment{
  background-color: #f4f4f4;
  padding:20px;
  margin:20px 0;
  border: 1px solid #777;
  border-radius: 10px;
  color:#35424a;
}

#apartment-comments .comments .single-comment #username{
  font-weight: bold;
  font-size:20px;
  margin:5px 0 5px 5px;
  border-bottom: 1px solid #777;
}

#apartment-comments .comments .single-comment #star-rating{
  padding:5px 0 5px 5px;
}

#apartment-comments .comments .single-comment #comment{
  /* font-weight: bold; */
  font-size:15px;
  margin:10px 0;
  padding:10px;
}


#apartment-comments .comments .single-comment #comment-visibility{
  background-color: #f4f4f4;
  padding:15px;
}

#apartment-comments .comments .single-comment #check-visibility{
  float: left;
  width: 5%;
}

#apartment-comments .comments .single-comment #visibility-message{
  background-color: #f4f4f4;
  color:#777;
  float: right;
  width: 90%;
  text-align: center;
}

#new-apartment select{
  width:25%;
  padding:10px;
}

#new-apartment .half-size{
  width:49%;
  padding:10px;
  margin-bottom:25px
}

#new-apartment #address,#new-apartment #price{
  width:100%;
  padding:10px;
  margin-bottom:25px
}

/* ApartmentAmenitiesOverview */
#amenities-overview #main #new-amenity #amenity-type{
  margin-bottom: 15px;
}
#amenities-overview #main #new-amenity #amenity-type input{
  display:inline-block;
  margin-right: 10px;
}
#amenities-overview #main #new-amenity #amenity-type label{
  display:inline-block;
  size:16px;
  font-weight: bold;
}


/* HOME FRONT*/

#home body{
    background-color:#f4f4f4;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    /*isto*/
    font: 15px 1.5em Arial, Helvetica, sans-serif;
}

/*global*/
#home .container{
    width:80%;
    margin:auto;
    overflow: hidden;
}

#home .button_1{
    height:38px;
    background-color:#e8491d;
    color:#fff;
    border:none;
    padding: 0 20px;
}

#home .dark{
    padding:15px;
    background-color:#35424a;
    color:#fff;
    margin:10px 0;
}

#home .button_1:hover{
    background-color:#cccccc;
    color:#fff;
    font-weight: bold;
}
/*Header*/
#home #main-header{
    background-color:#35424a;
    color:#fff;
    padding-top:30px;
    min-height: 70px;
    border-bottom:#e8491d 3px solid;
}

#home #main-header #branding{
    float:left;
    margin:0;
}

#home ul{
   margin:0;
   padding:0;
}
#home #main-header li{
    /*ili float:left;*/
    display:inline;
    padding:0 20px 0 20px;;
}

#home #main-header a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size:16px;
}

#home #main-header a:hover{
    color:#cccccc;
    font-weight: bold;
}

#home #navbar{
    float:right;
    padding-top:10px;
}

#home #main-header .highlight, #main-header .current a{
    color:#e8491d;
    font-weight: bold;
}


/*Showcase*/

#home #showcase{
    min-height:400px;
    background-image:url('../img/apartment7.jpg');
    background-repeat: no-repeat;
    background-position: -170px -350px;
    text-align: center;
    color:#35424a;
}



#home #showcase h1{
    margin-top:100px;
    font-size:55px;
    line-height: 1.5em;
    margin-bottom:10px;
}

#home #showcase p{
    font-size: 20px;
}

/*Newsletter*/

#home #newsletter{
    padding:15px;
    background-color:#35424a;
    color:#fff;
}

#home #newsletter h1{
   float:left;
}

#home #newsletter form{
    float:right;
    padding-top:5px;
 }

/* #home #newsletter input[type="email"]{
    width:250px;
    padding:4px;
    height:25px;
 } */

 /*Boxes*/

#home #boxes{
    margin-top:20px;
}

#home #boxes .box{
    float:left;
    width:33.3%;
    padding:10px;
    text-align:center;
    box-sizing: border-box;
}

#home #boxes .box img{
    width:100px;
}

#home #boxes #box2 img{
    margin-bottom: 3px;
}

#home #boxes #box3 img{
    margin-bottom: 15px;
}


/*Apartment details*/
#apartment-details header .carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}